*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


table{
    width: 35vw;
    height: 40vw;
    margin-top: 20px;
}
img{
    height: 10vw;
    width: 10vw;
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
    margin-left: 50px;
    margin-top: 5px;
}