*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 200px;
    height: 200px;
    position: relative;
}

.item{
    width: 50px;
    height: 50px;
    background: red;
    position: absolute;
    animation-name: Tunar;
    animation-fill-mode: backwards;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}

@keyframes Tunar{

    0%{
        top: 0;
        left: 0;
        background: red;
    }

    25%{
        top: 0;
        left: 170px;
        background: orange;
    }

    50%{
        top: 170px;
        left: 170px;
        background: green;
    }

    75%{
        top: 170px;
        left: 0;
        background: blue;
    }

    100%{
        top: 0;
        left: 0;
        background: purple;
    }
}