*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./sekil.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h2{
    color: white;
    margin-left: 70px;
    margin-top: 50px;
}
h1{
    color: white;
     font-size: 60px;
    font-weight: 800;
    margin-bottom: 20px;
    margin-top: 200px;
    margin-left: 70px;
}
p{
    color: white;
   font-size: 16px;
    margin-bottom: 30px;
    margin-left: 70px;
}