h1{
    text-align: center;
    margin-top: 20px;
    color: rgb(0, 255, 60);
}
p{
    margin-left: 170px;
    margin-top: 200px;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./bmwww.jpg) , url(./mer.jpg) , url(./BMW\ 2.jpg) , url(./mercedes\ 2.jpg);
    background-repeat: no-repeat , no-repeat;
    background-attachment: fixed;
    background-position: left top , right bottom , right top , left bottom;
    background-size: 25% , 20% , 20% ,20%;
    
}
