*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    overflow: auto;
    list-style-type: none;
    
}

li{
    float: right;
    margin-right: 25px;
    text-decoration: underline;
}

a{
    color: black;
}
a:hover{
    color: red;
    cursor: pointer;
}

h3{
    margin-left: 30px;
    margin-top: 15px;
}
div{
    background-color: blue;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 15px;
    padding-bottom: 60px;
}
div h1{
    font-size: 80px;
    padding-top: 30px;
    margin-left: 15px;
    color: white;
}
div p{
    font-size: 40px;
    margin-left: 15px;
    padding-top: 30px;
    color: white;
}
p{
    margin-left: 30px;
    margin-top: 35px;
    font-size: 20px;
}
.bir{
    font-size: 50px;
}
img{
    margin-left: 30px;
    margin-top: 25px;
}
.iki{
    margin-top: 20px;
    font-size: 15px;
}